[Unit]
Description=SUN Messenger web
After=network.target redis.service
Requires=redis.service

[Service]
Type=simple
User=sunmessenger
Group=sunmessenger
WorkingDirectory=/srv/sunmessenger/current
EnvironmentFile=/srv/sunmessenger/shared/.env
ExecStart=/srv/sunmessenger/venv/bin/gunicorn --worker-class gthread --workers 2 --threads 8 --bind 127.0.0.1:8000 wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
