<script src="{{ asset_url('qrcode-loader.js') }}"></script>
<script src="{{ asset_url('vendor/js/jsQR.min.js') }}"></script>
<script src="{{ asset_url('vendor/js/socket.io.min.js') }}"></script>
<script src="{{ asset_url('crypto.js') }}"></script>
<script src="{{ asset_url('mnemonic.js') }}"></script>
<script type="module" src="{{ asset_url('modules/auth-fetch.js') }}"></script>
<script src="{{ asset_url('modules/device-key.js') }}"></script>
<script src="{{ asset_url('modules/private-key-session-bridge.js') }}"></script>
<script src="{{ asset_url('modules/bi-icon-adapter.js') }}"></script>
<script src="{{ asset_url('chat-appearance.js') }}"></script>
<script type="module" src="{{ asset_url('chat.js') }}"></script>
<script type="module" src="{{ asset_url('pages/key-transfer.js') }}"></script>
<script src="{{ asset_url('pages/chat-key-restore.js') }}"></script>
<script src="{{ asset_url('pages/chat-shell.js') }}"></script>
