<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" hidden aria-hidden="true" focusable="false">
    <symbol id="sun-i-arrow-left" viewBox="0 0 24 24">
        <path d="M14 6l-6 6 6 6" />
        <path d="M8 12h11" />
    </symbol>
    <symbol id="sun-i-search" viewBox="0 0 24 24">
        <circle cx="11" cy="11" r="6.5" />
        <path d="M16 16l4 4" />
    </symbol>
    <symbol id="sun-i-more-vertical" viewBox="0 0 24 24">
        <circle cx="12" cy="6" r="1.5" fill="currentColor" stroke="none" />
        <circle cx="12" cy="12" r="1.5" fill="currentColor" stroke="none" />
        <circle cx="12" cy="18" r="1.5" fill="currentColor" stroke="none" />
    </symbol>
    <symbol id="sun-i-calendar" viewBox="0 0 24 24">
        <rect x="4" y="5" width="16" height="15" rx="2.5" />
        <path d="M8 3.5v3M16 3.5v3M4 9.5h16" />
    </symbol>
    <symbol id="sun-i-x" viewBox="0 0 24 24">
        <path d="M6 6l12 12M18 6l-12 12" />
    </symbol>
    <symbol id="sun-i-trash" viewBox="0 0 24 24">
        <path d="M5 7h14M9 7V5.5h6V7M8.5 7v10.5m7-10.5v10.5M6.5 7l.7 12a1.5 1.5 0 0 0 1.5 1.4h6.6a1.5 1.5 0 0 0 1.5-1.4l.7-12" />
    </symbol>
    <symbol id="sun-i-copy" viewBox="0 0 24 24">
        <rect x="9" y="9" width="11" height="11" rx="2" />
        <rect x="4" y="4" width="11" height="11" rx="2" />
    </symbol>
    <symbol id="sun-i-plus" viewBox="0 0 24 24">
        <path d="M12 5v14M5 12h14" />
    </symbol>
    <symbol id="sun-i-qr" viewBox="0 0 24 24">
        <rect x="4" y="4" width="6" height="6" rx="1" />
        <rect x="14" y="4" width="6" height="6" rx="1" />
        <rect x="4" y="14" width="6" height="6" rx="1" />
        <path d="M14 14h2v2h-2zM18 14h2v2h-2zM14 18h2v2h-2zM17 17h3v3h-3z" fill="currentColor" stroke="none" />
    </symbol>
    <symbol id="sun-i-shield-check" viewBox="0 0 24 24">
        <path d="M12 3l7 3v6.2c0 4.2-2.8 7.3-7 8.8-4.2-1.5-7-4.6-7-8.8V6l7-3z" />
        <path d="M9 12.5l2.2 2.2L15.5 10.5" />
    </symbol>
    <symbol id="sun-i-shield" viewBox="0 0 24 24">
        <path d="M12 3l7 3v6.2c0 4.2-2.8 7.3-7 8.8-4.2-1.5-7-4.6-7-8.8V6l7-3z" />
    </symbol>
    <symbol id="sun-i-shield-x" viewBox="0 0 24 24">
        <path d="M12 3l7 3v6.2c0 4.2-2.8 7.3-7 8.8-4.2-1.5-7-4.6-7-8.8V6l7-3z" />
        <path d="M10 10.5l4 4M14 10.5l-4 4" />
    </symbol>
    <symbol id="sun-i-arrow-down-circle" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="9" />
        <path d="M12 8v7M8.8 12.5l3.2 3.2 3.2-3.2" />
    </symbol>
    <symbol id="sun-i-upload-file" viewBox="0 0 24 24">
        <path d="M14 3H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8z" />
        <path d="M14 3v5h5M12 17v-6M9.5 13.5 12 11l2.5 2.5" />
    </symbol>
    <symbol id="sun-i-unlock" viewBox="0 0 24 24">
        <path d="M7 10V8a5 5 0 0 1 9.2-2.7M5 10h12a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2z" />
    </symbol>
    <symbol id="sun-i-pencil" viewBox="0 0 24 24">
        <path d="M4 20l4-.8L19.2 8a1.8 1.8 0 0 0 0-2.5l-.7-.7a1.8 1.8 0 0 0-2.5 0L4.8 16 4 20zM14.5 6.5l3 3" />
    </symbol>
    <symbol id="sun-i-check-square" viewBox="0 0 24 24">
        <rect x="4" y="4" width="16" height="16" rx="2.5" />
        <path d="M8 12.2l2.6 2.6L16 9.5" />
    </symbol>
    <symbol id="sun-i-bell" viewBox="0 0 24 24">
        <path d="M6 16h12l-1.3-1.8A5.8 5.8 0 0 1 15.7 11V9.8a3.7 3.7 0 1 0-7.4 0V11a5.8 5.8 0 0 1-1 3.2L6 16zM10 18a2 2 0 0 0 4 0" />
    </symbol>
    <symbol id="sun-i-download" viewBox="0 0 24 24">
        <path d="M12 4v10M8.5 10.5 12 14l3.5-3.5M5 18.5h14" />
    </symbol>
    <symbol id="sun-i-slash-circle" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="9" />
        <path d="M7.5 16.5l9-9" />
    </symbol>
    <symbol id="sun-i-flag" viewBox="0 0 24 24">
        <path d="M6 4v16M6 5h10l-1.5 3 1.5 3H6" />
    </symbol>
    <symbol id="sun-i-chat" viewBox="0 0 24 24">
        <path d="M5 6.5h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H10l-4 3v-3H5a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2z" />
    </symbol>
    <symbol id="sun-i-image" viewBox="0 0 24 24">
        <rect x="4" y="5" width="16" height="14" rx="2" />
        <circle cx="9" cy="10" r="1.5" />
        <path d="M5.5 17l4.5-4.5 3.2 3.2 2-2L19 17" />
    </symbol>
    <symbol id="sun-i-file" viewBox="0 0 24 24">
        <path d="M14 3H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8z" />
        <path d="M14 3v5h5" />
    </symbol>
    <symbol id="sun-i-paperclip" viewBox="0 0 24 24">
        <path d="M8 12.5 14.8 5.7a3.2 3.2 0 0 1 4.5 4.5l-8 8a5 5 0 1 1-7-7l8.1-8.1" />
    </symbol>
    <symbol id="sun-i-link" viewBox="0 0 24 24">
        <path d="M10 14a3.5 3.5 0 0 1 0-5l2-2a3.5 3.5 0 1 1 5 5l-1 1M14 10a3.5 3.5 0 0 1 0 5l-2 2a3.5 3.5 0 1 1-5-5l1-1" />
    </symbol>
    <symbol id="sun-i-bell-slash" viewBox="0 0 24 24">
        <path d="M6 16h12l-1.3-1.8A5.8 5.8 0 0 1 15.7 11V9.8a3.7 3.7 0 1 0-7.4 0V11a5.8 5.8 0 0 1-1 3.2L6 16zM10 18a2 2 0 0 0 4 0" />
        <path d="M5 5l14 14" />
    </symbol>
    <symbol id="sun-i-pin-angle" viewBox="0 0 24 24">
        <path d="M8 4h8l-1.5 5.2 3 2.3H6.5l3-2.3L8 4zM12 12v8" />
    </symbol>
    <symbol id="sun-i-play" viewBox="0 0 24 24">
        <path d="M8.5 6.5l9 5.5-9 5.5z" />
    </symbol>
    <symbol id="sun-i-pause" viewBox="0 0 24 24">
        <path d="M9 6.5v11M15 6.5v11" />
    </symbol>
    <symbol id="sun-i-keyboard" viewBox="0 0 24 24">
        <rect x="3.5" y="6.5" width="17" height="11" rx="2" />
        <path d="M7 10.5h.01M10 10.5h.01M13 10.5h.01M16 10.5h.01M7 13.5h10" />
    </symbol>
    <symbol id="sun-i-emoji" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5" />
        <path d="M9.2 10h.01M14.8 10h.01M8.8 14.2c.9 1.2 2 1.8 3.2 1.8s2.3-.6 3.2-1.8" />
    </symbol>
    <symbol id="sun-i-send" viewBox="0 0 24 24">
        <path d="M4 11.8 20 4l-5.7 16-2.5-5.7L4 11.8zM11.8 14.3 20 4" />
    </symbol>
    <symbol id="sun-i-mic" viewBox="0 0 24 24">
        <rect x="9" y="4" width="6" height="11" rx="3" />
        <path d="M6 11.5a6 6 0 0 0 12 0M12 17.5v3M9 20.5h6" />
    </symbol>
    <symbol id="sun-i-clock" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5" />
        <path d="M12 7.8v4.7l3.2 1.8" />
    </symbol>
    <symbol id="sun-i-clock-history" viewBox="0 0 24 24">
        <path d="M4.5 8.5V4.8h3.7" />
        <path d="M5.2 12a7.8 7.8 0 1 1 2.3 5.5" />
        <path d="M12 8v4.5l3 1.8" />
    </symbol>
    <symbol id="sun-i-hourglass" viewBox="0 0 24 24">
        <path d="M7 4h10M7 20h10M8 4c0 3 2.2 4.4 4 6 1.8-1.6 4-3 4-6M8 20c0-3 2.2-4.4 4-6 1.8 1.6 4 3 4 6" />
    </symbol>
    <symbol id="sun-i-lock" viewBox="0 0 24 24">
        <path d="M7 10V8a5 5 0 0 1 10 0v2M6 10h12a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2z" />
    </symbol>
    <symbol id="sun-i-bookmark" viewBox="0 0 24 24">
        <path d="M7 4h10a1 1 0 0 1 1 1v15l-6-3-6 3V5a1 1 0 0 1 1-1z" />
    </symbol>
    <symbol id="sun-i-chat-dots" viewBox="0 0 24 24">
        <path d="M5 6.5h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H10l-4 3v-3H5a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2z" />
        <path d="M9 12h.01M12 12h.01M15 12h.01" />
    </symbol>
    <symbol id="sun-i-user-plus" viewBox="0 0 24 24">
        <path d="M8.5 11a3.2 3.2 0 1 0 0-6.4 3.2 3.2 0 0 0 0 6.4zM3.5 19a5.5 5.5 0 0 1 10 0M17 8v6M14 11h6" />
    </symbol>
    <symbol id="sun-i-shuffle" viewBox="0 0 24 24">
        <path d="M4 7h4l8 10h4M20 17v-4M20 17h-4M4 17h4l8-10h4M20 7v4M20 7h-4" />
    </symbol>
    <symbol id="sun-i-half" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5" />
        <path d="M12 3.5a8.5 8.5 0 0 1 0 17z" fill="currentColor" stroke="none" />
    </symbol>
    <symbol id="sun-i-external-link" viewBox="0 0 24 24">
        <path d="M14 5h5v5M10 14l9-9M19 13v5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 5 18V6.5A1.5 1.5 0 0 1 6.5 5H12" />
    </symbol>
    <symbol id="sun-i-arrows-fullscreen" viewBox="0 0 24 24">
        <path d="M8 4H4v4M16 4h4v4M8 20H4v-4M16 20h4v-4M4 8l5-5M20 8l-5-5M4 16l5 5M20 16l-5 5" />
    </symbol>
    <symbol id="sun-i-minus" viewBox="0 0 24 24">
        <path d="M5 12h14" />
    </symbol>
    <symbol id="sun-i-warning" viewBox="0 0 24 24">
        <path d="M12 4.2 20.3 19H3.7L12 4.2z" />
        <path d="M12 9v5M12 17h.01" />
    </symbol>
    <symbol id="sun-i-info-circle" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5" />
        <path d="M12 10.5v5M12 8h.01" />
    </symbol>
    <symbol id="sun-i-key" viewBox="0 0 24 24">
        <circle cx="8.5" cy="12.5" r="3.5" />
        <path d="M12 12.5h8M17 12.5v2M19 12.5v2" />
    </symbol>
    <symbol id="sun-i-check2-all" viewBox="0 0 24 24">
        <path d="M4.8 12.6 7 14.8l3.2-3.2M10.8 12.6l2.2 2.2 6.2-6.2" />
    </symbol>
    <symbol id="sun-i-chevron-left" viewBox="0 0 24 24">
        <path d="M14.5 6.5 9 12l5.5 5.5" />
    </symbol>
    <symbol id="sun-i-chevron-right" viewBox="0 0 24 24">
        <path d="M9.5 6.5 15 12l-5.5 5.5" />
    </symbol>
    <symbol id="sun-i-at" viewBox="0 0 24 24">
        <path d="M16 12v2.2a1.8 1.8 0 0 0 3.5.6A8 8 0 1 0 12 20" />
        <circle cx="12" cy="12" r="3.3" />
    </symbol>
    <symbol id="sun-i-camera" viewBox="0 0 24 24">
        <path d="M5 8h3l1.2-2h5.6L16 8h3a2 2 0 0 1 2 2v7.5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2z" />
        <circle cx="12" cy="13" r="3.2" />
    </symbol>
    <symbol id="sun-i-chevron-down" viewBox="0 0 24 24">
        <path d="M6.5 9.5 12 15l5.5-5.5" />
    </symbol>
    <symbol id="sun-i-chevron-up" viewBox="0 0 24 24">
        <path d="M6.5 14.5 12 9l5.5 5.5" />
    </symbol>
    <symbol id="sun-i-gear" viewBox="0 0 24 24">
        <path d="M12 8.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7z" />
        <path d="M19.4 13.3v-2.6l-2-.4a5.8 5.8 0 0 0-.6-1.4l1.2-1.7-1.8-1.8-1.7 1.2c-.4-.2-.9-.4-1.4-.6l-.4-2h-2.6l-.4 2c-.5.1-1 .3-1.4.6L6.7 5.4 4.9 7.2l1.2 1.7c-.2.4-.4.9-.6 1.4l-2 .4v2.6l2 .4c.1.5.3 1 .6 1.4l-1.2 1.7 1.8 1.8 1.7-1.2c.4.2.9.4 1.4.6l.4 2h2.6l.4-2c.5-.1 1-.3 1.4-.6l1.7 1.2 1.8-1.8-1.2-1.7c.2-.4.4-.9.6-1.4l2-.4z" />
    </symbol>
    <symbol id="sun-i-moon-stars" viewBox="0 0 24 24">
        <path d="M15 3.8a8.5 8.5 0 1 0 5.2 13.7 7.4 7.4 0 0 1-5.2-13.7z" />
        <path d="M18.5 5.5h.01M20.2 8h.01" />
    </symbol>
    <symbol id="sun-i-pencil-square" viewBox="0 0 24 24">
        <rect x="4" y="4" width="16" height="16" rx="2.5" />
        <path d="M8 16l2.8-.6 5.8-5.8a1.3 1.3 0 0 0 0-1.8l-.4-.4a1.3 1.3 0 0 0-1.8 0l-5.8 5.8L8 16z" />
    </symbol>
    <symbol id="sun-i-people" viewBox="0 0 24 24">
        <circle cx="9" cy="9.2" r="2.7" />
        <circle cx="16.2" cy="10.3" r="2.2" />
        <path d="M4.5 18a4.8 4.8 0 0 1 9 0M13.3 18a3.8 3.8 0 0 1 6.2-2.8" />
    </symbol>
    <symbol id="sun-i-person-circle" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5" />
        <circle cx="12" cy="9.5" r="2.6" />
        <path d="M7.7 16.8a5.4 5.4 0 0 1 8.6 0" />
    </symbol>
    <symbol id="sun-i-phone" viewBox="0 0 24 24">
        <rect x="8" y="3.5" width="8" height="17" rx="2" />
        <path d="M10.5 6h3M11.5 17.5h1" />
    </symbol>
    <symbol id="sun-i-devices" viewBox="0 0 24 24">
        <rect x="3.5" y="5.5" width="12" height="8.5" rx="1.6" />
        <path d="M8 15h3" />
        <rect x="15.5" y="10" width="5" height="9" rx="1.2" />
        <path d="M17.6 12h1.8M18.2 16.6h.6" />
    </symbol>
    <symbol id="sun-i-plug" viewBox="0 0 24 24">
        <path d="M8 4.5v4M14 4.5v4" />
        <path d="M6.5 8.5h9v3.2a4.5 4.5 0 0 1-9 0V8.5z" />
        <path d="M11 16.2v1.1a3.2 3.2 0 0 0 3.2 3.2H17" />
        <path d="M17 16.5v4M19 18.5h-4" />
    </symbol>
    <symbol id="sun-i-laptop" viewBox="0 0 24 24">
        <rect x="3" y="5" width="18" height="12" rx="1.8" />
        <path d="M12 14.5v.5M1.5 17h21" />
    </symbol>
    <symbol id="sun-i-tablet" viewBox="0 0 24 24">
        <rect x="5" y="2.5" width="14" height="19" rx="2" />
        <path d="M11.5 18.5h1" />
    </symbol>
    <symbol id="sun-i-star" viewBox="0 0 24 24">
        <path d="M12 4.2l2.2 4.6 5 .7-3.6 3.5.8 4.9-4.4-2.4-4.4 2.4.8-4.9-3.6-3.5 5-.7L12 4.2z" />
    </symbol>
    <symbol id="sun-i-shield-slash" viewBox="0 0 24 24">
        <path d="M12 3l7 3v6.2c0 4.2-2.8 7.3-7 8.8-4.2-1.5-7-4.6-7-8.8V6l7-3z" />
        <path d="M6 6l12 12" />
    </symbol>
    <symbol id="sun-i-arrow-clockwise" viewBox="0 0 24 24">
        <path d="M20 12a8 8 0 1 1-2.3-5.7" />
        <path d="M20 5v4h-4" />
    </symbol>
    <symbol id="sun-i-arrow-counterclockwise" viewBox="0 0 24 24">
        <path d="M4 12a8 8 0 1 0 2.3-5.7" />
        <path d="M4 5v4h4" />
    </symbol>
    <symbol id="sun-i-arrow-repeat" viewBox="0 0 24 24">
        <path d="M17 6h3v3M7 18H4v-3M20 9a8 8 0 0 0-13.7-3M4 15a8 8 0 0 0 13.7 3" />
    </symbol>
    <symbol id="sun-i-arrow-left-circle" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="9" />
        <path d="M13.8 8.5 10.3 12l3.5 3.5M10.3 12h7" />
    </symbol>
    <symbol id="sun-i-chat-square-text" viewBox="0 0 24 24">
        <rect x="4" y="4" width="16" height="16" rx="2.5" />
        <path d="M8 9.5h8M8 12.5h8M8 15.5h5" />
    </symbol>
    <symbol id="sun-i-crop" viewBox="0 0 24 24">
        <path d="M7 4v12a3 3 0 0 0 3 3h10M4 7h12a3 3 0 0 1 3 3v10" />
    </symbol>
    <symbol id="sun-i-fingerprint" viewBox="0 0 24 24">
        <path d="M5.5 10.5a6.5 6.5 0 1 1 13 0M7.7 10.8a4.3 4.3 0 1 1 8.6 0M10.2 11.2a1.8 1.8 0 1 1 3.6 0M6.2 13.2v1.1a8.3 8.3 0 0 0 2.6 6.1M17.8 13.2v1.1a8.3 8.3 0 0 1-2.6 6.1M9 13.2v1.1a5 5 0 0 0 1.6 3.7M15 13.2v1.1a5 5 0 0 1-1.6 3.7" />
    </symbol>
    <symbol id="sun-i-grid" viewBox="0 0 24 24">
        <rect x="4" y="4" width="7" height="7" rx="1.3" />
        <rect x="13" y="4" width="7" height="7" rx="1.3" />
        <rect x="4" y="13" width="7" height="7" rx="1.3" />
        <rect x="13" y="13" width="7" height="7" rx="1.3" />
    </symbol>
    <symbol id="sun-i-person-badge" viewBox="0 0 24 24">
        <rect x="4" y="4.5" width="16" height="15" rx="2.5" />
        <circle cx="9.5" cy="10" r="2.1" />
        <path d="M6.7 15a3.3 3.3 0 0 1 5.6 0M14.5 9h3M14.5 12h3M14.5 15h2" />
    </symbol>
    <symbol id="sun-i-person-search" viewBox="0 0 24 24">
        <circle cx="10" cy="9.5" r="2.5" />
        <path d="M5.8 16a4.8 4.8 0 0 1 8.4 0M15.8 15.8l3.2 3.2M16.2 12.6a2.6 2.6 0 1 0 0 .01" />
    </symbol>
    <symbol id="sun-i-person-x" viewBox="0 0 24 24">
        <circle cx="10" cy="9.5" r="2.5" />
        <path d="M5.8 16a4.8 4.8 0 0 1 8.4 0M16 9l4 4M20 9l-4 4" />
    </symbol>
    <symbol id="sun-i-share" viewBox="0 0 24 24">
        <circle cx="6" cy="12" r="2.2" />
        <circle cx="17.5" cy="6.5" r="2.2" />
        <circle cx="17.5" cy="17.5" r="2.2" />
        <path d="M8 11l7.3-3.5M8 13l7.3 3.5" />
    </symbol>
    <symbol id="sun-i-shield-lock" viewBox="0 0 24 24">
        <path d="M12 3l7 3v6.2c0 4.2-2.8 7.3-7 8.8-4.2-1.5-7-4.6-7-8.8V6l7-3z" />
        <path d="M9.8 15.4h4.4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H9.8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1z" />
        <path d="M10.9 11.4v-1.1a1.1 1.1 0 1 1 2.2 0v1.1" />
    </symbol>
    <symbol id="sun-i-square" viewBox="0 0 24 24">
        <rect x="5" y="5" width="14" height="14" rx="1.8" />
    </symbol>
    <symbol id="sun-i-translate" viewBox="0 0 24 24">
        <path d="M4 7h8M8 7v1.4M5.5 12a8.5 8.5 0 0 0 4.9-5M5.7 8.8a8 8 0 0 1-2 3.2M14 8h6M17 8v9M14.5 12h5M13 17.5h8" />
    </symbol>
    <symbol id="sun-i-x-circle" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="9" />
        <path d="M9 9l6 6M15 9l-6 6" />
    </symbol>
</svg>
