<!DOCTYPE html>
<html lang="{{ ui_language|default('ru') }}">
{% include 'chat/_head.html' %}
<body
    class="chat-page-body"
    data-current-user-public-key="{{ current_public_key|e }}"
    data-current-display-name="{{ current_display_name|e }}"
    data-current-username="{{ current_username|e }}"
    data-current-user-id="{{ session['user_id'] }}"
    data-current-avatar-url="{{ (current_avatar_url or '')|e }}"
    data-initial-chat-contact-username="{{ (initial_chat_contact_username or '')|e }}"
    data-ui-language="{{ ui_language|default('ru') }}"
>
<script nonce="{{ csp_nonce }}">window.SUN_SYNC_BODY_THEME_BOOT?.();</script>
{% include 'chat/_svg_icons_sprite.html' %}
{% set ui_lang = ui_language|default('ru') %}
{% set has_initial_contacts = (initial_contacts|length) > 0 %}
{% include 'chat/_boot_overlay.html' %}

<div class="app">
{% include 'chat/_sidebar.html' %}
{% include 'chat/_chat_area.html' %}
</div>
{% include 'chat/_search_overlay.html' %}
{% include 'chat/_modals.html' %}
{% include 'chat/_context_menus.html' %}
{% include 'chat/_scripts.html' %}
</body>
</html>
